#tableheader{
    -fx-font-size: 20pt;
    -fx-font-family: "Courier New";
    -fx-padding: 3 6 6 6;
}

#tablerow{
    -fx-font-size: 15pt;
    -fx-font-family: "Courier New";
    -fx-padding: 3 6 6 6;
}